# Virtual Environment
venv/
env/
ENV/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env

# Large data files (optional if needed)
# *.csv
# *.png
# Ignore all pickle files


# Ignore numpy train/test files
X_train*
X_test*
y_train*
y_test*

# Or ignore all numpy arrays
*.npy

*.pkl
# Optional: ignore any train/test folders
train/
test/