# Virtual Environment
venv/
env/
ENV/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env

# Large data files (optional if needed)
# *.csv
# *.png
